<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Booking</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Item</th>
                        <th>Member</th>
                        <th>Bank</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < booking.length; i++) {%>
                    <tr>
                        <td><%= i +1 %> </td>
                        <td><%= moment(booking[i].bookingStartDate).format('DD-MMM-YYYY') %> s/d
                            <%= moment(booking[i].bookingEndDate).format('DD-MMM-YYYY') %></td>
                        <td><%= booking[i].itemId.title %></td>
                        <td><%= booking[i].memberId.firstName %> <%= booking[i].memberId.lastName %></td>
                        <td><%= booking[i].bankId.nameBank %></td>
                        <td><%= booking[i].payments.status %></td>
                        <td>
                            <a href="/admin/booking/<%= booking[i].id %>" class="btn btn-success btn-circle btn-sm"><i
                                    class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>